// Color Variables
$black-950: #000000; // 완전 검정
$black-900: #0f0f0f; // 이전보다 더 큰 차이
$black-800: #262626;
$black-700: #3c3c3c;
$black-600: #525252;
$black-500: #696969;
$black-400: #818181;
$black-300: #9d9d9d;
$black-200: #bcbcbc;
$black-100: #dedede;
$black-50: #f5f5f5; // 기존과 비슷하게 유지

$background-dark: $black-950;
$border-dark: $black-800;

$font-light: $black-100;
$font-medium: $black-200;
$font-muted: $black-400;
$font-default: $black-50;

// Layout Variables
$width-content: 840px;

$padding-aside-main-container: 16px;
$padding-aside-header-container: 16px;
$padding-bottom-main-container: 128px;

$margin-bottom-post-list-item: 16px;

$gap-vertical-main-container: 12px;
$gap-post-list: 18px;
$gap-post-list-item: 8px;
$gap-post-navigator-container: 8px;

$height-header: 60px;

$breakpoint-xs: 540px;
$breakpoint-sm: 720px;
$breakpoint-md: 960px;
$breakpoint-lg: 1024px;

$breakpoint-xs-end: $breakpoint-xs;
$breakpoint-sm-start: $breakpoint-xs + 1;
$breakpoint-sm-end: $breakpoint-sm;
$breakpoint-md-start: $breakpoint-sm + 1;
$breakpoint-md-end: $breakpoint-md;
$breakpoint-lg-start: $breakpoint-md + 1;
$breakpoint-lg-end: $breakpoint-lg;
$breakpoint-xl-start: $breakpoint-lg + 1;

@mixin media-xs {
  @media (max-width: #{$breakpoint-xs-end}) {
    @content;
  }
}

@mixin media-sm {
  @media (min-width: #{$breakpoint-sm-start}) and (max-width: #{$breakpoint-sm-end}) {
    @content;
  }
}

@mixin media-md {
  @media (min-width: #{$breakpoint-md-start}) and (max-width: #{$breakpoint-md-end}) {
    @content;
  }
}

@mixin media-lg {
  @media (min-width: #{$breakpoint-lg-start}) and (max-width: #{$breakpoint-lg-end}) {
    @content;
  }
}

@mixin media-xl {
  @media (min-width: #{$breakpoint-xl-start}) {
    @content;
  }
}
