// Color Variables
$black-950: #000000; // 완전 검정
$black-900: #0f0f0f; // 이전보다 더 큰 차이
$black-800: #262626;
$black-700: #3c3c3c;
$black-600: #525252;
$black-500: #696969;
$black-400: #818181;
$black-300: #9d9d9d;
$black-200: #bcbcbc;
$black-100: #dedede;
$black-50: #f5f5f5; // 기존과 비슷하게 유지

$background-dark: $black-950;
$border-dark: $black-800;

$font-light: $black-100;
$font-medium: $black-200;
$font-muted: $black-400;
$font-default: $black-50;

// Layout Variables
$width-content: 1024px;

$padding-aside-main-container: 16px;
$padding-aside-header-container: 16px;

$gap-vertical-main-container: 16px;

$height-header: 60px;

// Breakpoint Variables
$breakpoint-xs: 540px; // 기존보다 36px 줄임
$breakpoint-sm: 720px; // 기존보다 48px 줄임
$breakpoint-md: 960px; // 기존보다 32px 줄임
$breakpoint-lg: $width-content; // 기존보다 176px 줄임 (1200px에서 감소)

// Media Mixins
@mixin media-xs {
  @media (max-width: $breakpoint-xs) {
    @content;
  }
}

@mixin media-sm {
  @media (max-width: $breakpoint-sm) {
    @content;
  }
}

@mixin media-md {
  @media (max-width: $breakpoint-md) {
    @content;
  }
}

@mixin media-lg {
  @media (max-width: $breakpoint-lg) {
    @content;
  }
}

@mixin media-xl {
  @media (min-width: $breakpoint-lg) {
    @content;
  }
}
