@use "variables";

.index {
  display: flex;
  justify-content: center;
  & > .container {
    width: variables.$width-content;
    min-height: 100vh;
    box-sizing: border-box;
    padding-top: variables.$gap-vertical-main-container;
    padding-bottom: variables.$padding-bottom-main-container;
    display: flex;
    flex-direction: column;
    gap: variables.$gap-vertical-main-container;
    overflow-x: hidden;

    & > .options-container {
      display: flex;
      justify-content: space-between;
    }

    & > .post-list {
      padding: 0;
      margin: 0;
      list-style: none;
      & .infinite {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: variables.$gap-post-list;
      }
    }
  }
}

@include variables.media-xs {
  .container {
    padding-left: variables.$padding-aside-main-container;
    padding-right: variables.$padding-aside-main-container;
  }
}

@include variables.media-sm {
  .container {
    padding-left: variables.$padding-aside-main-container;
    padding-right: variables.$padding-aside-main-container;
  }
  .post-list {
    justify-content: center;
  }
}

@include variables.media-md {
  .container {
    padding-left: variables.$padding-aside-main-container;
    padding-right: variables.$padding-aside-main-container;
  }
}

@include variables.media-lg {
  .container {
    padding-left: variables.$padding-aside-main-container;
    padding-right: variables.$padding-aside-main-container;
  }
}

@include variables.media-xl {
  .container {
    padding: 0 0;
  }
}
