@use "../variables";

.post-list-item {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: variables.$gap-post-list-item;
  box-sizing: border-box;
  cursor: pointer;
  margin-bottom: variables.$margin-bottom-post-list-item;

  & img {
    display: block;
  }

  & .aspect {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  & .category-preview {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    & > img {
      user-select: none;
    }
    &.icon {
      background-color: variables.$black-900;
    }
  }

  & > .title {
    /* 텍스트 말줄임 설정 */
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    min-width: 0; /* this one right here does it!*/
  }

  & > .info {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

@include variables.media-xs {
  .post-list-item {
    width: 100%;
  }
}

@include variables.media-sm {
  .post-list-item {
    width: calc((100% - variables.$gap-post-list) / 2);
  }
}

@include variables.media-md {
  .post-list-item {
    width: calc((100% - variables.$gap-post-list) / 2);
  }
}

@include variables.media-lg {
  .post-list-item {
    width: calc((100% - 2 * variables.$gap-post-list) / 3);
  }
}

@include variables.media-xl {
  .post-list-item {
    width: calc((100% - 2 * variables.$gap-post-list) / 3);
  }
}
